:root {
  --main-color: #e88d67;
  --second-color: #0e4749;
  --third-color: white;
}

@font-face {
  font-family: "now-light";
  src: url("/fonts/now.light.otf");
}
@font-face {
  font-family: "Aleo-Black";
  src: url("/fonts/Aleo-Black.ttf");
}
@font-face {
  font-family: "now-medium";
  src: url("/fonts/NowAlt-Medium.otf");
}

.backButton {
  display: flex;
  align-items: center;
  background-color: var(--main-color);
  color: black;
  border-radius: 25px;
  border: none;
  font-size: 0.8rem;
  padding: 0.4rem;
  margin-left: 1rem;
  cursor: pointer;
  text-decoration: none;
  font-family: "now-medium";
}

.backButton:hover {
  background-color: var(--second-color);
  color: var(--third-color);
}

@media screen and (min-width: 1201px) {
  .backButton {
    font-size: 17px;
    padding: 0.4rem 0.8rem 0.4rem 0.8rem;
    margin-left: 2rem;
  }
}
